*{box-sizing:border-box

}

body {
    border: 2px solid;
    height: 100vh;
    margin: 0;
    font-family:'Courier New', Courier, monospace
    


}

img.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

header {
    height: 25%;
    border: 2px solid rgb(226, 216, 218);
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1548685913-fe6678babe8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHBvcnRmb2xpbyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60") ;
    font-family:'Courier New', Courier, monospace

}

header h1 { 
    width: 20%;
    border: 2px solid rgb(221, 148, 103);
    margin: 0;

}



.navigation{
    width: 80%;
    border: 2px solid rgb(220, 227, 227);
    justify-content: flex-end;
    align-items: flex-end;

}

main {
    height: 62%;
    border: 2px solid rgb(39, 137, 179);
    background-image: url("https://images.unsplash.com/photo-1533899114961-3aa0579cd5b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=372&q=80")
}

footer {
    height: 13%;
    border: 2px solid red;
    background-image: url("https://images.unsplash.com/photo-1548685913-fe6678babe8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHBvcnRmb2xpbyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60");
}

#links {
    display:flex;
    justify-content:flex-end;
}

#links a {
    margin: 10px
}

#subheading {
    height:85%;
    display:flex;
    justify-content:flex-end;
    align-items: flex-end;
}

#contact {
    height:100%;
    display:flex;
    justify-content: flex-start;

}

#number {
    display:flex;
    justify-content:flex-start;
}

#email {
    display:flex;
    justify-content:center;
    align-items:center;
}

#git {
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}